@charset "utf-8";

//////////////////////////////////////////////////////////////////////////
//
//  settings
//
//////////////////////////////////////////////////////////////////////////

//-------------------------------------------------- Option
// 全ての要素にborder-boxを適用するか
$useBorderBox: true;

//-------------------------------------------------- ImgPath
$imgPath: "/images/";

//-------------------------------------------------- BaseFont
$baseFont: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, Osaka,"ＭＳ Ｐゴシック",Arial,sans-serif;

//-------------------------------------------------- BaseFontSize
$baseFontSize: 12;

//-------------------------------------------------- BaseFontColor
$baseFontColor: #333;

//-------------------------------------------------- MainColor
$mainColor: #FFF;

//-------------------------------------------------- SubColor
$subColor: #EEE;

//-------------------------------------------------- AccentColor
$accentColor: #CCC;

//-------------------------------------------------- BaseContentsWidth
$baseWidth: 1000px;

//-------------------------------------------------- BreakPoint
$widthPC: 1024px;
$widthTab: 768px;
$widthSP: 480px;
