<!DOCTYPE html>
<html lang="ja">
<%
  var pageTitle = 'Accordion デモ',
      pageDescription = 'シンプルなAccordionのデモページ';
%>
<% include template/_head %>
<body>
  <section class="main">
    <h1 class="main_ttl">Accordion デモ</h1>
    <dl class="acd">
      <% for(var i = 1; i < 5; i++){ %>
      <dt class="acd_btn">Section <%= i %></dt>
      <dd class="acd_body">
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </dd>
      <% } %>
    </dl>
  </section>
<% include template/_js %>
</body>
</html>
